<!doctype <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Hello vue.js</title>
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
</head>

<body>
    <div id="simple">
        <h2>{{message}}</h2>
        <input id="a" type="text" v-bind:value="message2">
        <br/>
        <input id="b" type="text" :value="message3">
        <br/>
        <img v-bind:src="imagePath" />
        <img :src="imagePath2" />
    </div>
    <div id="simple2">
        <h2 v-text="message"></h2>
        <input type="text" v-model="name" placeholder="이름을 입력하세요">
        <br/> 입력된 이름 :
        <h2 v-html="name"></h2>
    </div>
    <div id="simple3">
        <h2 v-html="message"></h2>
        <div>좋아하는 과일을 모두 골라주세요 : </div>
        <input type="checkbox" value="사과" v-model="fruits">사과,
        <input type="checkbox" value="키위" v-model="fruits">키위,
        <input type="checkbox" value="포도" v-model="fruits">포도,
        <input type="checkbox" value="딸기" v-model="fruits">딸기,
        <input type="checkbox" value="수박" v-model="fruits">수박
    </div>
    <hr/>
    <div id="simple4">
        선택한 과일들 : <span v-html="fruits"></span>
    </div>
    <div id="account">
        예금액 : <input type="text" v-model="amount">
        <img v-if="amount < 0" src="images/error.png" title="마이너스는 허용하지 않습니다" style="width:15px; height:15px; vertical-align:middle" />
        <br/> 예금액 : <input type="text" v-model="amount2">
        <img v-show="amount < 0" src="images/error.png" title="마이너스는 허용하지 않습니다" style="width:15px; height:15px; vertical-align:middle; display:none;" />
        <hr/> 잔고 : <input type="text" v-model="balance" />
        <br/> 회원님의 등급 :
        <span v-if="balance >= 100000">Gold</span>
        <span v-else-if="balance >= 50000">Silver</span>
        <span v-else-if="balance >= 30000">Bronze</span>
        <span v-else>Basic</span>
    </div>
    <script>
        var model = {
            message: '첫 번째 Vue.js 앱입니다.',
            message2: 'v-bind 디렉티브',
            message3: 'v-bind 디렉티브 2',
            imagePath: 'http://sample.bmaster.kro.kr/photos/61.jpg',
            imagePath2: 'http://sample.bmaster.kro.kr/photos/61.jpg',
            fruits: []
        };

        var simple = new Vue({
            el: '#simple',
            data: model
        })

        var simple2 = new Vue({
            el: "#simple2",
            data: {
                name: ''
            }
        })

        var simple3 = new Vue({
            el: "#simple3",
            data: model
        })

        var simple4 = new Vue({
            el: "#simple4",
            data: model
        })

        var account = new Vue({
            el: '#account',
            data: {
                amount: 0,
                amount2: 0,
                balance: 0
            }
        })
    </script>
</body>

</html>